
.box{
    /*margin: 0 auto;*/
    position: relative;
    width: 900px;
    height: 563px;
    background: url(../images/home_screen.png);
    /*border: 1px solid black;*/
}

.box_no_background{
    margin: 0 auto;
    position: relative;
    width: 900px;
    height: 563px;
    /*background: url(../images/home_screen.png);*/
    /*border: 1px solid black;*/
}
.login-box {
    width: 100%;
    max-width:500px;
    height: 400px;
    position: absolute;
    top: 50%;

    margin-top: -200px;
    /*设置负值，为要定位子盒子的一半高度*/

}
@media screen and (min-width:500px){
    .login-box {
        left: 50%;
        /*设置负值，为要定位子盒子的一半宽度*/
        margin-left: -250px;
    }
}

.form {
    width: 100%;
    max-width:500px;
    height: 275px;
    margin: 25px auto 0px auto;
    padding-top: 25px;
}
.login-content {
    height: 300px;
    width: 100%;
    max-width:500px;
    background-color: rgba(255, 250, 2550, .6);
    float: left;
}


.input-group {
    margin: 0px 0px 30px 0px !important;
}
.form-control,
.input-group {
    height: 40px;
}

.form-group {
    margin-bottom: 0px !important;
}
.login-title {
    padding: 20px 10px;
    background-color: rgba(0, 0, 0, .6);
}
.login-title h1 {
    margin-top: 10px !important;
}
.login-title small {
    color: #fff;
}

.link p {
    line-height: 20px;
    margin-top: 30px;
}
.btn-sm {
    padding: 8px 24px !important;
    font-size: 16px !important;
}

#mainContainer{
    margin: 0 auto;
    position: relative;
    width: 1150px;
    height: 563px;
    /*border: 1px solid black;*/
}

#gamecontainer {
    width: 900px;
    height: 563px;
    background: url(../images/home_screen.png);
    /*border: 1px solid black;*/
}


.gamelayer {
    margin: 0 auto;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}



/* Game Starting Menu Screen */
#gamestartscreen {
    padding-top:250px;
    text-align:center;
    padding-left:50px;
    width:590px;
    height:160px;
}

#gamestartscreen span {
    margin:20px;
    font-family: ‘Courier New’, Courier, monospace;
    font-size: 48px;
    cursor:pointer;
    color:white    ;
    text-shadow: -2px 0 purple, 0 2px purple, 2px 0 purple, 0 -2px purple;    
}

#gamestartscreen span:hover {
    color:yellow;
}

/* Loading Screen */
#loadingscreen {
    background:rgba(100,100,100,0.7);
	z-index:10;
}

#loadingmessage {
    margin-top:400px;
    text-align:center;
    height:48px;
    color:white;
    background:url(../images/loader.gif) no-repeat center;
    font:12px Arial;
}
/* Game Interface Screen */
#gameinterfacescreen {
    background: url(../images/main_interface.png) no-repeat;
}

#massagewrapper{
    background: url(../images/chat_bg.png) no-repeat;
    position:absolute;
    left: 905px;
    top:0px;
    width:245px;
    height:500px;
}

#massagewrapper #gamemessages{
    position:absolute;
    left: 50px;
    top:100px;
    width:200px;
    height:350px;
    color: rgb(6, 3, 3);
    overflow:hidden;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    /*border: 1px solid black;*/
}
#massagewrapper #gamemessages span {
    color: #ff2620;
}

#gameinterfacescreen #callerpicture {
    position:absolute;
    left:498px;
    top:154px;
    width:126px;
    height:88px;
    overflow:none;
}

#gameinterfacescreen #cash_hint {
    width:90px;
    height:40px;
    position:absolute;
    left:765px;
    top:515px;
    color:rgb(130,150,162);
    overflow:hidden;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    text-align:right;
}

#gameinterfacescreen #cash {
    width:90px;
    height:40px;
    position:absolute;
    left:760px;
    top:540px;
    color:rgb(130,150,162);
    overflow:hidden;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    text-align:right;
}

#gameinterfacescreen canvas{
    position:absolute;
    top:0px;
    left:0px;
}

#gameinterfacescreen #foregroundcanvas{
    z-index:1;
}

#gameinterfacescreen #backgroundcanvas{
    z-index:0;
}

/*建造单位选项窗口*/
#gameinterfacescreen #sidebarbuttons {
    position:absolute;
    left:782px;
    top:180px;
    width:120px;
    height:150px;
    overflow:none;
}

#gameinterfacescreen #sidebarbuttons input[type="button"] {
    width:43px;
    height:35px;
    border-width:0px;
    padding:0px;
    background-image: url(../images/buttons.png);
}






/* Grayed out state for buttons*/
#starportbutton:active, #starportbutton:disabled {
    background-position: -2px -305px;
}
#placeholder1:active, #placeholder1:disabled {
    background-position: -52px -305px;
}
#turretbutton:active, #turretbutton:disabled {
    background-position: -100px -305px;
}
#scouttankbutton:active, #scouttankbutton:disabled {
    background-position: -2px -346px;
}
#heavytankbutton:active, #heavytankbutton:disabled {
    background-position: -52px -346px;
}
#harvesterbutton:active, #harvesterbutton:disabled {
    background-position: -102px -346px;
}
#chopperbutton:active, #chopperbutton:disabled {
    background-position: -2px -387px;
}
#placeholder2:active, #placeholder2:disabled {
    background-position: -52px -387px;
}
#wraithbutton:active, #wraithbutton:disabled {
    background-position: -102px -387px;
}

/* Regular state for buttons*/ 
#starportbutton {
    background-position: -167px -305px;
}
#placeholder1 {
    background-position: -216px -305px;
}
#turretbutton {
    background-position: -264px -305px;
}
#scouttankbutton {
    background-position: -167px -346px;
}
#heavytankbutton {
    background-position: -216px -346px;
}
#harvesterbutton {
    background-position: -264px -346px;
}
#chopperbutton {
    background-position: -167px -387px;
}
#placeholder2 {
    background-position: -216px -387px;
}
#wraithbutton {
    background-position: -264px -387px;
}

/* Message Box Screen */
#messageboxscreen {
    background:rgba(0,0,0,0.7);
    z-index:20;
}
#messagebox {
    position:absolute;
    top:170px;
    left:140px;
    width: 500px;
    height: 250px;
    color:white;
    background:url(../images/messagebox.png) no-repeat center;
    color: rgb(162, 34, 20);
    overflow:hidden;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}
#messagebox span {
    position:absolute;
    top:30px;
    left:50px;
    width:400px;
    height:100px;
}

#messagebox input[type="button"]{
    background-image: url(../images/room_related.png);
    position:absolute;
    border-width:0px;
    padding:0px;
}
#messageboxok{
    background-position: -675px -247px;
    top:180px;
    left:11px;    
    width:125px;
    height:45px;
}


#messageboxcancel{
    background-position: -640px -300px;
    left:197px;
    top:129px;    
    width:125px;
    height:45px;
}


/* Multiplayer Lobby Screen */
#roomscreen {
    background:url(../images/roomscreen.png) no-repeat center;
}
#roomscreen input[type="button"]{
    background-image: url(../images/room_related.png);
    position:absolute;
    border-width:0px;
    padding:0px;
}


/*截取join图标*/
#multiplayerjoin{
    background-position: -237px -112px;
    top:400px;
    left:200px;
    width:126px;
    height:44px;
}
#multiplayerjoin:active,#multiplayerjoin:disabled{
    background-position:-239px -173px;
}
#multiplayercancel{
    background-position: -240px -236px;
    left:545px;
    top:400px;    
    width:126px;
    height:44px;
}
#multiplayercancel:active,#multiplayercancel:disabled{
    background-position: -239px -303px;
}
#multiplayergameslist {
    padding:20px;
    position:absolute;
    width:600px;
    height:270px;
    top:98px;
    left:124px;
    background:rgba(0,0,0,0.7);
    border:none;
    color:gray;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}
#multiplayergameslist:focus {
    outline:none;    
}
#multiplayergameslist option.running{
    color:gray;
}
#multiplayergameslist option.waiting{
    color:green;
}
#multiplayergameslist option.empty{
    color:lightblue;
}

#massagewrapper #gameanalysis{
    position:absolute;
    left: 20px;
    top:500px;
    width:225px;
    height:60px;
    border: 1px solid black;
}


#chatmessage{
    position:absolute;
    top:545px;
    width:760px;
    height: 17px;
    background:rgba(255,255,255,0.1);
    color:green;
    border:1px solid white;
    display:none;
}
#chatmessage:focus {
    outline:none;    
}
